<body onload="func1()">
    <h2><center>Form Validation</center></h2>
    <p><u><b>Enter the Following Details: </b></u></p>
    <br>
    <div class="div1">
        <form name="myform" action="" class="myfrm">
            <table id="tbl">
                <tr>
                    First_name: <input type="text" name="fname" id="fn" class="name" placeholder="Enter First_name" onkeypress="return onlychr(event)">
                    &nbsp Last_name: <input type="text" name="lname" id="ln" class="name" placeholder="Enter Last_name" onkeypress="return onlychr(event)">
                </tr>
                <br><br>
                <tr>
                    mail ID: <input type="email" name="email" id="e" placeholder="Enter email id">
                </tr>
                <br><br>
                <tr>
                    Password: <input type="password" name="password" id="pswd" placeholder="Enter password">
                </tr>
                <br><br>
                <tr>
                    Phone no.: <input size="10" tabindex="5" name="number" id="no" maxlength="10" placeholder="Enter Phone no." onkeypress="return onlynum(event)" onkeyup="tab_index(this,this.value)">
                </tr>
                <br><br>
                <tr>
                    <div class="dobcontainer">
                    D.O.B.: MM: <input size="2" tabindex="6" id="mm" class="dateofbirth" maxlength="2" onkeyup="tab_index(this,this.value)" placeholder="DD">
                    DD: <input size="2" tabindex="7" id="dd" class="dateofbirth" maxlength="2" onkeyup="tab_index(this,this.value)" placeholder="MM">
                    YY: <input size="4" tabindex="8" id="yy" class="dateofbirth" maxlength="4" onkeyup="tab_index(this,this.value)" placeholder="YY">
                    </div>
                </tr>
                <br><br>
                <tr>
                    Registration Id: <input type="text" name="reg_id" id="ri" placeholder="Enter reg_id">
                </tr>
                <br><br>
                <tr>
                    <input type="button" value="Submit" onclick="alert(myfunc())" id="btn">
                </tr>
            </table>
        </form>
    </div>
</body>