// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
        
body{
    border: 2px solid black;
    width: 750px;
    height: 650px
}
.div1 #tbl{
    padding: 10px;
    position: absolute;
    top: 150px;
}
td{
    padding: 15px 0 15px 0;
}
#btn{
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    position: absolute;
    left: 250px;
    background-color: navajowhite;
}
#btn:hover {
    background-color: aqua;
    font-size: 22px;
}