// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#multi_delete_btn{
  font-size: 1.2em;
  position: absolute;
  top: 355px;
  left: 560px;
}

#multi_delete_btn:hover{
  font-size: 1.5em;
  color: white;
  background-color: red;
  border-radius: 20px
}

#newproduct{
  color: black;
  padding: 2px;
  font-size: 1.2em;
  background-color: #EEEEEE;
  text-decoration: none;
  border: 1px solid black;
}

.softdelete{
  color: red;
  text-decoration: line-through;
}

.btn{
  color: black;
  padding: 1px;
  padding: 0 5px 0 5px;
  background-color: #EEEEEE;
  text-decoration: none;
  border: 1px solid black;
}

.btn:hover{
  background-color: lightgreen;
  font-size: 1.2em;
}

#red:hover{
  background-color: red;
}

#pagination{
  position: absolute;
  left: 300px;
}